<div class="row">
  <% @tables.each do |table| %>

    <div class="col-sm-6 col-lg-4" style="border: 2px solid orange; padding:40px 20px;border-radius: 5px;">

      <h3>
        <% if table.pax.zero? %>

          <%= link_to "Table #{table.table_number}", edit_table_path(table) %>

        <% else %>

          <%= link_to "Table #{table.table_number}", table %>

        <% end %>
      </h3>

      <div id="table-<%= table.id %>" class="row">
        <%= render table.dishes %>
      </div>

    </div>

  <% end %>
</div>
