<div class="row">
  <div class="col-8">

    <div class="row">
      <%= render @dishes %>
    </div>

  </div>

  <div id="show-table-<%= @table.id %>" data-table-id="<%= @table.id %>" class="col-4 white-bg list-orders" style="padding:20px 40px;border: 2px solid lightblue">
    <% @table.orders.each do |order| %>
      <%= render partial: "orders/order.html.erb", locals: { table: @table, order: order } %>
    <% end %>
  </ul>
</div>