<div class="col-6 col-md-4">

  <div
    class="dish--js dish-item"
    style="background-color:<%= dish.color %>;"
    data-dish-id="<%= dish.id %>"
    data-dish-color="<%= dish.color %>">

    <%= dish.name %>
  </div>

</div>